html {
    font-size: $base-font-size;
}


/**
 * Blockquotes
 */
 blockquote {
    color: $brand-color;
    border-left: 4px solid $border-color-01;
    padding-left: $spacing-unit / 2;
    @include relative-font-size(1.125);
    font-style: italic;
  
    > :last-child {
      margin-bottom: 0;
    }
  
    i, em {
      font-style: normal;
    }
}
  
  
  
/**
* Code formatting
*/
pre,
code {
    font-family: $code-font-family;
    font-size: 0.9375em;
    border: 1px solid $border-color-01;
    border-radius: 3px;
    background-color: $code-background-color;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.highlight {
    border-radius: 3px;
    background: $code-background-color;
    @extend %vertical-rhythm;

    .highlighter-rouge & {
        background: $code-background-color;
    }
}
  
  
  