@charset "utf-8"

// Define defaults for each variable.
$base-font-family: Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji !default;
$code-font-family: Consolas,Liberation Mono,Menlo,monospace;
$base-font-size: 12px !default;

// Width of the content area
$content-width:    1200px !default;

$on-palm:          800px !default;
$on-laptop:        1200px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;


$brand-color:           #828282 !default;
$brand-color-light:     lighten($brand-color, 40%) !default;
$brand-color-dark:      darken($brand-color, 25%) !default;

$site-title-color:      $brand-color-dark !default;

$text-color:            #111111 !default;
$background-color:      #fdfdfd !default;
$code-background-color: #eeeeff !default;

$link-base-color:       #2a7ae2 !default;
$link-visited-color:    darken($link-base-color, 15%) !default;
$link-hover-color:      $text-color !default;

$border-color-01:       $brand-color-light !default;
$border-color-02:       lighten($brand-color, 35%) !default;
$border-color-03:       $brand-color-dark !default;

$table-text-color:      lighten($text-color, 18%) !default;
$table-zebra-color:     lighten($brand-color, 46%) !default;
$table-header-bg-color: lighten($brand-color, 43%) !default;
$table-header-border:   lighten($brand-color, 37%) !default;
$table-border-color:    $border-color-01 !default;


// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
    @media screen and (max-width: $device) {
      @content;
    }
}
  
@mixin relative-font-size($ratio) {
    font-size: #{$ratio}rem;
}

@import "base"